.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*//////////////////   MI CSS   /////////////////*/



/* NAV CSS ..*/

#selectOrderBy {
  margin-left: 20em;
  height: 90%;
  display: flex;
  align-self: center;
}

#NavUl {
  margin-left: 4em;
  border-left-style: solid;
  border-left-color: #a1a3a444;
  padding-left: 1em;
}

#HomeNav {
  margin-right: .5em;
}


/* .. NAV CSS*/